*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
svg{
	border:1px solid red;
}

.fluid svg{
	width: 100%;
}

.background{
	fill:#ddd;
}

.line{
	fill: none;
	stroke: purple;
	stroke-width: 3px;
}

.row{
	display: flex;
}

.one{
	flex:1;
}
.two{
	flex:2;
}